* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}
.App {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin: 2rem;
  gap: 1rem;
}

.twett-logo {
  width: 50px;
}
.left-side {
  padding: 1rem 3rem;
  /* border-right: 1px solid rgb(231, 215, 215); */
}

.left-side-list {
  display: grid;
  gap: 1rem;
}

.left-side-list a {
  text-decoration: none;
  color: rgb(88, 76, 76);
  font-size: 1.2rem;
}

.left-side-list li {
  border: none;
  transition: all;
  transition-duration: 200;
}
.left-side-list li :hover {
  border-radius: 200px;
  background-color: #9bd0f3;
}
.left-side-list li {
  list-style: none;
}
.tweet-btn {
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  border: none;
  background-color: #1d9bf0;
  padding: 0.5rem 3rem;
  color: #fff;
}
.profile-image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.account-tag {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
  margin: 2rem 2rem 2rem;
  border: 1 px solid black;
}
.profile-name {
  font-size: 1.5 rem;
  font-weight: 700;
  color: #51565a;
}
.user-handle {
  color: rgb(242, 236, 236);
  font-size: 1rem;
}
.tweet {
  display: grid;
  margin: 2rem;
  padding-left: 15px;
  /* position: relative; */
  background-color: #fff;
  /* height: 300px; */
}
.user-info {
  align-content: center;
}
.avatar {
  object-fit: cover;
}
.likes-button {
  border: none;
  background-color: #fff;
}
.tweets {
  border: 1px solid rgb(206, 197, 197);
  list-style: none;
  margin: 1rem;
}
.tweetbox-input {
  display: grid;
  /* grid-auto-flow: column; */
  position: relative;
  justify-content: center;
  min-width: fit-content;
}

.feed-header {
  top: 0;
  position: sticky;
  z-index: 100;
  padding: 15px 20px;
}
.tweetbox {
  padding-bottom: 10px;
  border-bottom: 8px solid gray;
  padding-right: 10px;
}
/* .twitter-h1 {
  align-content: center;
  color: red;
  font-size: 30px;
}


.flower-list {
  display: grid;
  grid-template-rows: repeat(auto-fit, 300px);
  justify-content: center;
  grid-gap: 2rem;
}
.flower-list {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-row-gap: 2rem;
  height: 100%;
  padding: 2rem;
  place-items: center;
  background-color: var(--white);
  border: 1px solid var(--grey);
} */
